.blog-preview-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding-top: var(--spacing-300);
  padding-bottom: var(--spacing-300);
  padding-left: var(--spacing-300);
  padding-right: var(--spacing-300);
  background-color: var(--color-white);
  border-radius: 1.25rem;
  border: 1px solid var(--color-gray-950);
  box-shadow: var(--spacing-100) var(--spacing-100) 0 0 var(--color-gray-950);
  width: 20.438rem;
}

.blog-preview-card__image {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.blog-preview-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.blog-preview-card__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--color-yellow);
  padding-top: var(--spacing-50);
  padding-bottom: var(--spacing-50);
  padding-left: var(--spacing-150);
  padding-right: var(--spacing-150);
  border-radius: var(--spacing-50);
  color: var(--color-gray-950);
}

.blog-preview-card__date {
  color: var(--color-gray-950);
}

.blog-preview-card__title {
  color: var(--color-gray-950);
}

.blog-preview-card__description {
  color: var(--color-gray-500);
}

.blog-preview-card__author {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.blog-preview-card__author-image {
  border-radius: 50%;
  display: block;
}

@media (min-width: 768px) {
  .blog-preview-card {
    width: 24rem;
  }
}
