.text-preset-1 {
  font-family: var(--font-family-base);
  font-size: var(--text-preset-1-font-size);
  font-weight: var(--text-preset-1-font-weight);
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);
}

.text-preset-2 {
  font-family: var(--font-family-base);
  font-size: var(--text-preset-2-font-size);
  font-weight: var(--text-preset-2-font-weight);
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
}

.text-preset-3 {
  font-family: var(--font-family-base);
  font-size: var(--text-preset-3-font-size);
  font-weight: var(--text-preset-3-font-weight);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
}

.text-preset-3-bold {
  font-family: var(--font-family-base);
  font-size: var(--text-preset-3-font-size);
  font-weight: var(--text-preset-3-font-weight-extra-bold);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
}
